<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>838679366640-nq64a5a8c55i0913b4urkvla1mf1sh32.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.838679366640-nq64a5a8c55i0913b4urkvla1mf1sh32</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>838679366640-uvbg3llio9fm74atv6ksj4sm0m00piir.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBCY4sMpnLhEnsluJVn34GsKY0-hDh6RDs</string>
	<key>GCM_SENDER_ID</key>
	<string>838679366640</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.medicationReminderVscode</string>
	<key>PROJECT_ID</key>
	<string>medicationtracker-8ce68</string>
	<key>STORAGE_BUCKET</key>
	<string>medicationtracker-8ce68.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:838679366640:ios:9ec09db18fc4c84c30ab35</string>
</dict>
</plist>